.*
!.gitignore
!.devcontainer
!.github

**/*build*/
!/build-scripts
**/__pycache__

*.obj
*.a
*.so
*.o
*.toml

# core/iwasm/libraries/wasi-threads

core/deps/**
core/shared/mem-alloc/tlsf
core/iwasm/libraries/lib-wasi-threads/test/*.wasm
core/iwasm/libraries/lib-socket/test/*.wasm

product-mini/app-samples/hello-world/test.wasm
product-mini/platforms/linux-sgx/enclave-sample/
!product-mini/platforms/linux-sgx/enclave-sample/App/App.*
!product-mini/platforms/linux-sgx/enclave-sample/Enclave/Enclave.*

tests/wamr-test-suites/workspace
tests/benchmarks/coremark/coremark*
tests/unit/runtime-common/wasm-apps/main.aot
tests/unit/aot-stack-frame/wasm-apps/test_aot.h

samples/socket-api/wasm-src/inc/pthread.h
samples/workload/include/**
!samples/workload/include/.gitkeep
